.container-fluid {
  background-color: seashell;
}

h1,
h2 {
  text-align: center;
}

.profilePic {
  display: block;
  margin: auto;
  border-radius: 50%;
  max-height: 300px;
}

.quote {
  font-style: italic;
  font-size: 20px;
}

figcaption {
  font-weight: bold;
  text-align: center;
}

h3 {
  margin-top: 50px;
  text-align: end;
  color: #8eadc7;
}
